<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="isLoading" class="spinner-border"></div>
<div *ngIf="posts&&posts.length>0">

  <br/>
  <button *ngIf="authService.hasRole('admin')" (click)="onCreate()" class="btn-primary">Create New Post</button>
  <br/>

  <!-- <table style="margin-top: 10px;" border="1">
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.content}}</td>
          <td>{{post.author}}</td>
      </tr>
  </table> -->

  <table style="margin-top: 10px;" border="1">
    <tr *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: p }">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
      <td>{{post.author}}</td>
    </tr>
  </table>
  
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
</div>
