<div>
  <h2>Register</h2>
  <form (submit)="register()">
    <div>
      <label for="name">Name:</label>
      <input type="text" [(ngModel)]="name" name="name" required>
    </div>
    <div>
      <label for="role">Role:</label>
      <input type="text" [(ngModel)]="role" name="role" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Register</button>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
